body {
    font:url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap')
}
.dropdown-toggle {
    cursor:pointer;
  }
nav ,.dropdown-menu {
    font-weight: bold;
    background-color: rgb(9, 155, 4);
}
.menu{
    color:white;
}
table{
    width:60%;
    border: 10px solid black;
    
}
th{
    border: 10px solid gray;
}