@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    
    font-family: "Roboto Slab", serif;    
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-image: url(kepek/Hatter.jpg);
    
}
.dropdown-toggle {
    cursor:pointer;
  }
nav ,.dropdown-menu {
    font-weight: bolder;
    background-color: rgb(241, 233, 120);
}
.menu{
    color:white;
}
table{
    width: 95%;
    border: 5px solid rgb(168, 139, 60);
    margin:30px
    
    
}
